body{
    background-color: bisque;
}
.main{
    margin-left: 4%;
    margin-top: 9%;
}
button{
    width: 160px;
    height: 50px;
    border-radius: 15%;
    margin-left: 10px;
}
/* #box{
    height: 30px;
} */
input{
    text-align: center;
    height: 25px;
}